/* Left menu */
.left-menu {
    width: 100%;
  }
  
  .left-menu .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-menu .user-list h4 {
    margin-top: 20px;
  }
  
  .left-menu .user-pic img {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-top: 10px;
  }

  /* src/components/leftMenu/LeftMenu.css */

.left-menu {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .left-menu .list-group-item {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    border: none; /* Ensure no contrasting borders in dark mode */
  }
  
  .left-menu .btn-outline-danger {
    color: var(--sidebar-text-color);
    border-color: var(--sidebar-text-color);
  }
  
  .left-menu .btn-outline-danger:hover {
    background-color: var(--sidebar-text-color);
    color: var(--sidebar-bg-color);
  }
  
  